<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO₂ Waste Calculator</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Employee CO₂ Consumption</h1>
        <form id="searchEmployee">
            <label for="employeeName">Employee Name:</label>
            <input type="text" id="employeeName" name="employeeName" required>

            <button type="submit">Search</button>
        </form>
        <p id="result"></p>

        <!-- New Button to Redirect to Employees Page -->
        <button id="viewEmployeesBtn">View All Employees</button>
        <button id="fetchEmployeesBtn">View Top Employees</button>
        <br>
        <button id="day1">day1</button>
        <button id="day2">day2</button>
        <button id="day3">day3</button>

        <!-- Area to display the fetched employee data if fetchEmployee is pressed -->
        <div id="topEmployeeData"></div>
    </div>

    <script src="../static/app.js"></script>
</body>
</html>
